@media screen and (max-width: 414px){
  .main-page .board{
    top: 30%;
    left: 15%;
    width:  70%;
    height: 24vh;

  }

  .main-page .board  h1{
    margin-left: 10px;
    font-size: 4.5em;
  }

  .main-page .board  h3{
    margin: 15px 0 0 10px;
    font-size: 1.2em;
  }

  .main-page .board  .icons{
    margin: 20px 0 0 5px;
    border: none;
    width: 100%;
  }

  .main-page .board .buttons{
    margin: 30px 0 0 0px;
    border: none;
    width: 100%;

    position: relative;
    height: 6.4vh
  }

  .main-page .board .buttons input[type=button]:last-child{
    display: none;
    
  }

  .main-page .board .buttons input[type=button]{
    width: 100%;
    border-radius: 40px;
    font-size: 1.1em;
    
  }


}